{
    "Stuns": [
        {
            "Proto": "udp",
            "URI": "stun:nbvpn.sleek.com:3478"
        }
    ],
    "Relay": {
        "Addresses": ["rels://nbvpn.sleek.com:443"],
        "CredentialsTTL": "24h",
        "Secret": "REPLACE_WITH_NETBIRD_RELAY_SECRET"
    },
    "Signal": {
        "Proto": "https",
        "URI": "nbvpn.sleek.com:443"
    },
    "Datadir": "/var/lib/netbird",
    "DataStoreEncryptionKey": "REPLACE_WITH_NETBIRD_DATASTORE_ENCRYPTION_KEY",
    "EmbeddedIdP": {
        "Enabled": true,
        "Issuer": "https://nbvpn.sleek.com/oauth2",
        "DashboardRedirectURIs": [
            "https://nbvpn.sleek.com/nb-auth",
            "https://nbvpn.sleek.com/nb-silent-auth"
        ]
    }
}
